<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="index.css">
	<%
		var mailto = "&#x6D;&#x61;&#x69;&#x6C;&#x74;&#x6F;&#x3A;&#x25;&#x37;&#x34;&#x25;&#x36;&#x38;&#x25;&#x36;&#x35;&#x25;&#x36;&#x34;&#x25;&#x36;&#x35;&#x25;&#x37;&#x32;&#x25;&#x36;&#x35;&#x25;&#x36;&#x42;&#x25;&#x36;&#x42;&#x25;&#x36;&#x31;&#x25;&#x37;&#x30;&#x25;&#x36;&#x43;&#x25;&#x36;&#x31;&#x25;&#x36;&#x45;&#x25;&#x34;&#x30;&#x25;&#x37;&#x30;&#x25;&#x37;&#x32;&#x25;&#x36;&#x46;&#x25;&#x37;&#x34;&#x25;&#x36;&#x46;&#x25;&#x36;&#x45;&#x25;&#x32;&#x45;&#x25;&#x36;&#x44;&#x25;&#x36;&#x35;"
	%>
	<title><%= resume.name %></title>
</head>
<body>
	<main>
		<h1>Hi.</h1>
		<h2>I'm Derek.</h2>
		<p>I write code, and occasionally I do other stuff too.</p>
		<!--Email encoded with HTML entities to fool bots-->
		<p><a href="<%- mailto %>">Get in touch</a></p>
		<% for (const group of website.groups) { %>
			<br>
			<hr>
			<br>
			<h1><%= group.title %></h1>
			<div class="container">
				<% for (const v of group.items) { %>
					<div class="card">
						<h3><%= v.title %></h3>
						<p><%= v.description %></p>
						<div class="spacer"></div>
						<% if (v.link) { %>
							<a href="<%- v.link %>" class="btn"><%= v.linkText %></a>
						<% } %>
						<% if (v.date) { %>
							<div class="card-footer"><%= v.date %></div>
						<% } %>
					</div>
				<% } %>
			</div>
		<% } %>
	</main>
</body>
</html>
